#block-widgets-s-socialmedia-profile-buttons div
{
	margin:10px;
}
#block-widgets-s-socialmedia-profile-buttons div img
{
	height:19px;
	width:19px;
}
#logo
{
	float:left;
}
#logo img
{
	border-radius:10px;
}
#name-and-slogan
{
	font-size:50px;
	float:left;
	padding-left:20px;
	text-align:center;
	width:1000px;
}

#name-and-slogan a
{
	color:#33291F;
	text-decoration:none;
}
#page
{
	background-color:#F385A2;
	border-radius:10px;
	padding:20px;
	color:#33291F;
	border:1px solid #DDDDDD;
	font-family:Verdana;
	margin:20px;
}

.breadcrumb
{
	margin:10px;
}

.breadcrumb a
{
	background-color:#FFFFFF;
	color:#33291F;
	padding:10px;
	border:1px solid #000000;
	text-decoration:none;
}

.breadcrumb a:hover
{
	color:#F385A2;
}

.field-content img
{
	border-radius:10px;
	margin-top:20px;
}
.field-content a
{
	color:#E374C7;
	font-weight:bold;
	text-decoration:none;
}
.form-submit
{
	background-color:#33291F;
	border:1px solid #FFFFFF;
	border-radius:5px;
	color:#FFFFFF;
	cursor:pointer;
	padding:5px;
}
.form-button-disabled
{
	background-color:#AAAAAA;
}


.region 
{
	background-color:#FFFFFF;
	border-radius:10px;
	border:1px solid #000000;
	padding:50px;
	margin-left:25%;
	margin-bottom:20px;
	width:600px;
}

.views-table th,.views-table td 
{
	padding-bottom:10px;
	padding-left:10px;
	padding-top:10px;
}
.views-table td a
{
	color:#E374C7;
	text-decoration:none;
}
.views-field-field-image img
{
	border-radius:10px;
	margin:10px;
}


th
{
	color:#FFFFFF;
}

thead
{
	background-color:#33291F;
}
th a
{
	background-color:#33291F;
	color:#FFFFFF;
	text-decoration:none;
}



